*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#113F67;

}

.profilecard {
    background-color: #A2A8D3;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    margin:auto;
    border: 1px solid #f1f1f1;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    
}

.profilecard:hover {
    transform: rotateY(180deg);
}

.profilecardback {
    background-color: #A2A8D3;
}

.profilepic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color:#113F67 ;
    background-image: radial-gradient(
        #113F67 58%,
        white 100%
    );
    margin: auto;
    margin-top: -40px;
    
    
}

.box1 {
    background-color:#38598B ;
    width: 350px;
    height: 70px;

    
}

.box2 {
    background-color:#6e74a0;
    width: 350px;
    height: 75px;    
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin-top: 10px;
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding-top: 40px;
    padding-left: 30px;
    
}

.box3 {
    background-color:#6e74a0;
    width: 350px;
    height: 70px;
    margin-top: 90px;
}

.box4 {
    background-color: #38598B;
    width: 350px;
    height: 70px;
}

.contact {
    /* outline: 1px red solid; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 90%;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 35px;
    height: 35px;
    background-color: #113F67;
    border-radius: 150px;
}


